/* 汎用CSS */

  .welcome{
    color:#2f9dd4;
    font-family: メイリオ;
    font-size: 28px;
    margin-left: 20px;
    margin: 20px;
    text-align: center;
  }
  
  .top{
    margin-up: 50px;
    margin-bottom: 50px;
  }
  
  .texts{
    margin-bottom: 50px;
  }
  
  .emphasize{
    color:#2f9dd4;
    font-family: メイリオ;
    font-size: 28px;
    margin: 15px;
    margin-left:20px;
  }
  
  .large{
    color:#2f9dd4;
    font-family: メイリオ;
    font-size: 24px;
    margin: 15px;
  }
  
  .list{
    margin-left:30px;
  }
  
  .demphasize{
    color:#2f9dd4;
    font-family: メイリオ;
    font-size: 28px;
    border-bottom: dashed 1px #2f9dd4;
    margin: 15px;
    margin-left:20px;
  }
  
  .section{
    color: #5da9cf;
    font-family: メイリオ;
    font-size: 21px;
    border-bottom: dashed 1px #2f9dd4;
    margin: 15px;
    margin-left:10px;
  }
  
  .subsection{
    color: #5da9cf;
    font-family: メイリオ;
    font-size: 18px;
    border-bottom: dashed 1px #2f9dd4;
    margin: 15px;
    margin-left:10px;
  }
  
  .subsubsection{
    color: #5da9cf;
    font-family: メイリオ;
    font-size: 16px;
    border-bottom: dashed 1px #2f9dd4;
    margin: 15px;
    margin-left:10px;
  }
  
  .description{
    font-size: 14px;
    margin-left:20px;
    text-height: 1.5em;
  }
  
  .descriptionCenter{
    font-size: 14px;
    margin: 10px;
    margin-left:20px;
    text-align:center;
    text-height: 1.5em;
  }

  .gradation{
    background-image:url("./../Figure/pattern.png");
    margin: 0 auto;
    padding : 100px;
    height : 10vw;
    background-repeat:repeat repeat;
    background: linear-gradient(0deg,rgba(255,255,255,0) 50%, #fff 80%);
  }

  /* カレンダー */
  .Sat{
    color: #336699;
  }

  .Sun{
    color : #d81600;
  }

  .pseudo{
    background-color: #888;
  }

  .heads {
    width : 150px;
    height : 60px;
    font-size : 24px;
    font-family : 'Sacramento', cursive;
    border : solid 1px #000;
  }

  .days{
    width : 150px;
    height : 150px;
    text-align : right;
    font-size : 28px;
    font-family : 'Bookman Old Style', sans-selif;
    border: solid 1px #000;
  }

  #calendar{
    border : solid 2px #000;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
  }
  
  #title{
    width : 100vw;
    background-image:url("./../Figure/pattern.png");
    background-repeat:repeat repeat;
  }